body {
  width: 100vw;
  height : 100vh;
  background-color: #000000;
  background-size: 100%;
  /* -moz-background-size: cover; */
  color : white;
}
#heading {
  color : yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 25vh;
  border-bottom-color:black;
  border-bottom-style: solid;
}
#heading-text {
  display : block;
  padding: 10px 20px 10px 20px;
  font-size: 35px;
}
#subheading-text {
  display: block;
  padding: 10px 20px 10px 20px;
  font-size : 25px;
}

#search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top : 20px;
  height: 15vh;
}

#char-name {
  width : 30%;
  padding : 10px 20px 10px 30px;
  margin: 10px;
  border-radius: 5px;
}

#char-name:hover {
  border: 3px solid yellow;
}

#search-button {
  cursor : pointer;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius : 5px;
  margin : 10px;
}
#search-button:hover {
  background-color: yellow;
}

#search-results {
  text-align: center;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#results-count {
  text-align: center;
  color: yellow;
}

#results-list {
  list-style-type: none;
  text-align: center;
}
#results-list.li,ul {
  padding: 0;
  margin: 0;
}
